<div class="page_wrap">
	<h1 class="about_title">TCP Top Ten <span class="subtitle">What is it?</span></h1>
	<div class="push_right">
	<p>Welcome to <i>TCP Top Ten</i>. <i>TCP Top Ten</i> allows users to scan remote hosts
	from the comfort of their preferred web-browser. <i>TCP Top Ten</i> utilizes
	an external scanning API hosted on Amazon EC2. In addition to the scanning functionality, <i>TCP Top Ten</i>
        will also geo-locate desired hosts. The front-end of the API is written with PHP,
	and the underlying scaning functionality is supported with Ruby and Nmap.</p>
	<p>To help keep this webapp responsive and functional, the scanning API will only scan the ten most popular TCP ports
	found on hosts today. <i>TCP Top Ten</i> currently supportes TCP ports: 21,22,23,25,80,110,139,443,445,3389.</p>

	<h2>Supported TCP Ports <span class="subtitle">So what ports work?</span></h2>

	<table class="home_table">
		<tr>
			<th>TCP Port</th>
			<th>Service</th>
			<th></th>
		</tr>
		<tr>
			<td>21</td>
			<td>FTP</td>
			<td>File Transfer Protocol</td>
		</tr>
		<tr>
			<td>22</td>
			<td>SSH</td>
			<td>Secure Shell</td>
		</tr>
		<tr>
			<td>23</td>
			<td>Telnet</td>
			<td>Network Terminal Connection</td>
		</tr>
		<tr>
			<td>25</td>
			<td>SMTP</td>
			<td>Simple Mail Transfer Protocol</td>
		</tr>
		<tr>
			<td>80</td>
			<td>HTTP</td>
			<td>Hyper-Text Transer Protocol</td>
		</tr>
		<tr>
			<td>110</td>
			<td>POP3</td>
			<td>Post Office Protocol</td>
		</tr>
		<tr>
			<td>139</td>
			<td>NetBIOS</td>
			<td>Network Basic Input/Output System</td>
		</tr>
		<tr>
			<td>443</td>
			<td>HTTPS</td>
			<td>HTTP over SSL</td>
		</tr>
		<tr>
			<td>445</td>
			<td>SMB</td>
			<td>Server Message Block</td>
		</tr>
		<tr>
			<td>3389</td>
			<td>RDP</td>
			<td>Remote Desktop Protocol</td>
		</tr>
	</table>
</div>
<div id="summary_canvas"></div>
</div>
