/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }

html
{
	background: asset-data-url("mochaGrunge.png");
	background-repeat: repeat;
	font-family: 'Oswald', sans-serif;
}

.alert
{
	width: 300px;
	background-color: lightred;
	color: darkred;
	border: 1px solid darkred;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
}

.notice
{
	width: 300px;
	background-color: lightblue;
	color: darkblue;
	border: 1px solid darkblue;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
}

#search_container
{
	background-color: lightgray;
	border: 1px solid black;
	padding-top: 0px;
	padding-bottom: 3px;
	padding-left: 1px;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #888888;
}

#clear
{
	clear: both;
}

#scan_counter
{
	position: relative;
	width: 200px;
	float: right;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
	border: 1px solid #323232;
}

#scan_counter a
{
	font-family: sans-serif;
	display: block;
	background-color: lightgreen;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	color: black;
	padding: 5px;
}

body
{
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #323232;
	background-color: white;
	box-shadow: 10px 10px 10px #3a3a3a;
}

.wrapper
{
	padding: 0px;
	margin: 0 auto;
	width: 960px;
}

.sidebar
{
	width: 190px;
	margin: 0px;
	float: left;
	padding: 5px;
	padding-bottom: 10px;
}

.sidebar h2
{
	margin-bottom: 2px;
}

.sidebar h4
{
	margin-bottom: 5px;
	margin-top: 0px;
}

.sidebar h5
{
	margin-top: 8px;
	margin-bottom: 0px;
}

.content
{
	width: 745px;
	margin: 0px;
	margin-top: 20px;
	padding-left: 10px;
	float: right;
	#border-left: 5px dashed black;
	font-family:  sans-serif;
}

#footer
{
	border-top: 5px solid black;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 100%;
}

#footer a
{
	display: block;
	width: 253px;
	margin: 0 auto;
	margin-top: 20px;
	font-family:  sans-serif;
	text-decoration: none;
	color: black;
}

#header
{
	height: 120px;
	padding: 3px;
	margin-bottom: 15px;
	border-bottom: 5px solid black;
}

#header img
{
	float: left;
	-webkit-animation: spin 60s linear infinite;
}

.line_seperator
{
	height: 1px;
	background: #717171;
	border-bottom: 1px solid #313030;
	margin-top: 12px;
	width: 80%;
}

#header h1
{
	font-size: 61px;
	text-align: center;
}

.sidebar h2
{
	font-family: 'Oswald', sans-serif;
	border-bottom: 5px solid black;
}

.sidebar_link
{
	display: block;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 10px;
	width: 65%;
	text-align: center;
	text-decoration: none;
	color: black;
	font-family:  sans-serif;
	padding: 5px;
	box-shadow: 5px 5px 5px #888888;
}

.sidebar_link_blue
{
	display: block;
	background-color: lightskyblue;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 10px;
	width: 65%;
	text-align: center;
	text-decoration: none;
	color: black;
	font-family:  sans-serif;
	padding: 5px;
	box-shadow: 5px 5px 5px #888888;
}

.sidebar_link_blue:hover
{
	border: 1px solid orange;
	color: white;
	background-color: #323232;
	width: 80%;
	-webkit-transition: all 0.3s ease-out;
}

.sidebar_link_red
{
	display: block;
	background-color: orangered;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 10px;
	width: 65%;
	text-align: center;
	text-decoration: none;
	color: black;
	font-family:  sans-serif;
	padding: 5px;
	box-shadow: 5px 5px 5px #888888;
}

.sidebar_link_red:hover
{
	border: 1px solid orange;
	color: white;
	background-color: #323232;
	width: 80%;
	-webkit-transition: all 0.3s ease-out;
}

.sidebar_link_green
{
	display: block;
	background-color: mediumspringgreen;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 10px;
	width: 65%;
	text-align: center;
	text-decoration: none;
	color: black;
	font-family:  sans-serif;
	padding: 5px;
	box-shadow: 5px 5px 5px #888888;
}

.sidebar_link_green:hover
{
	border: 1px solid orange;
	color: white;
	background-color: #323232;
	width: 80%;
	-webkit-transition: all 0.3s ease-out;
}

.sidebar_link:hover
{
	border: 1px solid orange;
	color: white;
	background-color: #323232;
	width: 80%;
	-webkit-transition: all 0.3s ease-out;
}

.page_wrap
{
	margin: 0 auto;
	padding: 0;
}

.subtitle
{
	font-family: sans-serif;
	font-size: 18px;
	font-style: italic;
	color: gray;
}

.push_right
{
	padding-left: 30px;
}
