// Place all the styles related to the scans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scan_results
{
	text-align: left;
	float: left;
}

#result_wrapper
{
	display: block;
}

.view_details_link
{
	display: block;
	text-decoration: none;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
}

.view_details_link:hover
{
	width: 70%;
	border: 1px solid black;
	-webkit-transition: all 0.3s ease-out;
	background-color: #323232;
	color: lightgray;
}

#map-canvas
{
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid black;
	width: 100%;
	height: 300px;
}
