<h1>New Scan <span class="subtitle">Initialize a new scan</span></h1>
<div class="push_right">
	<p>Please enter a valid, non-private IP address. Please remove all leading zeros from addresses as well.</p>
	<div class="ip_field_wrapper">
		<%= render 'form' %>
	</div>
</div>
