<h1>Search Results</h1>

<h2>Ip Results</h2>
<% @scans_ip.each do |scan| %>
	<%= scan.ip_address %>
<% end %>

<h2>DNS Pointer</h2>
<% @scans_dns.each do |scan| %>
	<%= scan.domain_name_ptr %>
<% end %>

<h2>User Scans</h2>
<% @scans_user.each do |scan| %>
	<%= scan.user.email %>
<% end %>
